@import "tailwindcss";

@layer base {
  body {
    background-color: #03050C;
    color: #F4F4F6;
    font-family: 'Inter', sans-serif;
  }
}

/* Custom scrollbar utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
